@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*функция вычиления rem*/
/*Размер шрифта по-умолчанию под большие экраны(адаптируется через функцию -rem)*/
@media (min-width: 2000px) {
  html, body {
    font-size: 20px;
  }
}
@media (min-width: 2500px) {
  html, body {
    font-size: 25px;
  }
}
@media (min-width: 3000px) {
  html, body {
    font-size: 30px;
  }
}
@media (min-width: 3700px) {
  html, body {
    font-size: 60px;
  }
}
body {
  font-family: "Oswald", sans-serif;
}

/*Блок nav*/
.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  min-height: 6.875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px #817070 solid;
}
.nav__logo {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.4;
  margin-left: 5px;
}
.nav__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__li {
  margin: 5px 5px 5px 2.875rem;
}
.nav__li a {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  color: black;
  transition: all 0.2s linear;
}
.nav__li a:hover {
  display: inline-block;
  color: #817070;
  transform: scale(1.1, 1.1);
}

@media (max-width: 600px) {
  .nav {
    justify-content: center;
    position: static;
    height: 50px;
  }
  .nav__logo {
    font-size: 22px;
  }
  .nav__li a {
    font-size: 14px;
  }
}
/*Блок header*/
.header__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.header__content a {
  position: absolute;
  bottom: 6.25rem;
}
.header__img {
  width: 100vw;
  height: auto;
}
.header__img img {
  width: 100%;
  height: 100%;
}
.header__text {
  position: absolute;
  top: 47%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.5s;
  text-transform: capitalize;
}
.header__text::after {
  content: "";
  display: block;
  background-color: #817070;
  width: 5rem;
  height: 0.625rem;
  margin: 0.4375rem auto;
}

@media (max-width: 600px) {
  .header {
    padding-top: 0px;
  }
  .header__img {
    width: 100vw;
    height: auto;
  }
  .header__img img {
    width: 100%;
    height: 100%;
  }
  .header__text {
    font-size: 35px;
  }
  .header__text::after {
    width: 40px;
    height: 5px;
  }
}
/*Блок story*/
.story__title {
  text-align: center;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.4;
  text-transform: capitalize;
  margin: 3.75rem 0px;
}
.story__block {
  display: flex;
  align-items: center;
  padding-bottom: 3.75rem;
}
.story__img {
  flex: 1 1 50%;
  margin-left: 5rem;
}
.story__img img {
  width: 100%;
  height: 100%;
}
.story__content {
  flex: 1 1 50%;
  margin: 0px 5rem 0px 2.5rem;
}
.story__text {
  text-align: justify;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1180px) {
  .story__title {
    margin: 40px 0px 10px;
  }
  .story__block {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }
  .story__img {
    margin: 0px 0px 10px;
  }
  .story__content {
    margin: 10px 20px;
  }
}
/*Блок blog*/
.blog {
  background-color: #EFEFEF;
}
.blog__title {
  text-align: center;
  padding: 3.75rem 0px;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.6;
  text-transform: capitalize;
}
.blog__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.blog__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.3125rem;
  width: 22.8125rem;
  margin: 0px 0.625rem 4.125rem;
}
.blog__label {
  padding: 1.25rem 1.25rem 1.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}
.blog__img {
  margin: 0px 1.25rem 1.5rem;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-out;
}
.blog__img img:hover {
  transform: scale(1.2, 1.2);
}
.blog__text {
  margin: 0px 1.5rem 1.5rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 1160px) {
  .blog__title {
    padding: 40px 0px 10px;
  }
}
@media (max-width: 800px) {
  .blog__card {
    width: 100%;
  }
}
/*Блок feedback*/
.feedback {
  height: 20.625rem;
  text-align: center;
  background-color: #817070;
}
.feedback__title {
  color: white;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 3.8125rem 0px 1.5rem;
}
.feedback__input {
  margin-bottom: 2rem;
}
.feedback input {
  background-color: #817070;
  border: 0.1875rem white solid;
  padding: 1.4375rem 3.125rem;
}
.feedback input::-moz-placeholder {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
}
.feedback input:-ms-input-placeholder {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
}
.feedback input::placeholder {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
}
.feedback input[type=email] {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}
.feedback__submit {
  width: 8.0625rem;
  height: 3.4375rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: capitalize;
  color: #817070;
  text-transform: uppercase;
  transition: all 0.4s ease-in;
}
.feedback__submit:hover {
  border-radius: 1.25rem;
  background-color: rgba(239, 239, 239, 0.7176470588);
  font-size: 1.1875rem;
}

@media (max-width: 400px) {
  .feedback input {
    padding: 0.8125rem 1.875rem;
  }
}
/*Блок footer*/
.footer {
  height: 4.5rem;
}
.footer__text {
  padding-top: 1.6875rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: capitalize;
}